<h1>Lists</h1>
<hr>
<p>Create a new list:</p>
<br>
<%= form_with model: @list do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<%= link_to "HOME", lists_path, class: 'btn btn-secondary'%>
